* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;

}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

nav ul li {
    font-weight: 700;
    margin: 0 10px;
}

nav ul li a:hover {
    border-bottom: 2px solid #333;
    border-radius: 5px;
    color: #0f3941;

}


#template-generator {
    border: 1px solid #333;
    border-radius: 24px;
    margin: 24px auto 0;
    max-width: 756px;
    min-height: calc(30lvh - 24px);
    text-align: center;


}

#template-generator:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

label {
    display: block;
}

.support {
    border: 1px solid #333;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
}

.support:hover {
    background-color: #ead8d8;
    transition: background-color 0.5s;
    cursor: pointer;
}

.mode i {
    font-size: x-large;
}

.mode {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.mode:hover {
    background-color: #ead8d8;
    transition: background-color 0.5s;
    border-radius: 10px;
    cursor: pointer
}

.mode i:hover {
    color: #ce6060;
    cursor: pointer;

}

.title {
    margin: 20px;
    text-align: center;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    font-size: large;


}

.gene-title {
    object-fit: cover;
    border-radius: 24px;
    background-color: #f4edf1;
}

button[type=submit] {
    background-color: #189452;
    color: #f4f4f4;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: medium;
    font-size: 100%;

}

button[type=submit]:hover {
    background-color: #0f3941;
    transition: background-color 0.5s;
}

footer {
    margin: 100px;

}

.team-members {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    border: #ce6060 1px dashed;
}

.member-card {
    display: flex;
    width: 47%;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed #333;
    border-radius: 5px;
    padding: 20px;
}

.media {}

.icon {
    font-size: 20px;
    margin-right: -100px;
    margin: 5px;
    text-align: center;

}

.icon:hover,
.icon a:hover {
    color: #ce6060;
}

.icon:hover {
    background-color: #ead8d8;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.member-card:hover {
    transform: scale(1.1);

}

.name-picture-role {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #f4edf1;

}

.role {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    border: #ce6060 1px solid;
    border-radius: 5px;
}

.role:hover {
    background-color: #ead8d8;
    transition: background-color 0.5s;
    cursor: pointer;
}

.name-picture {}

.about-section {
    display: inline-block;
    margin: 50px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f4edf1;
    text-align: center;
}

.tutorial-section {
    display: inline-block;
    margin: 30px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f4edf1;
    text-align: center;
    width: 30%;
}

.team {
    display: inline-block;
    margin-left: 500px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f4edf1;
    text-align: center;
}

.support-us {
    display: inline-block;
    margin-left: 500px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #f4edf1;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .member-card {
        width: 100%;
    }

    .name-picture-role {
        width: 100%;
    }

    .about-section {
        width: 100%;
    }

    .tutorial-section {
        width: 100%;
    }

    .team {
        width: 100%;
    }

    .support-us {
        width: 100%;
    }

}

/* Styles for light mode */
body {
    background-color: #fff;
    color: #000;
}

.title gene-title {
    background-color: palevioletred;
    color: #000;
}

/* Styles for dark mode */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

.title gene-title {
    background-color: 000;
    color: #fff;
    font-weight: bolder;
}